.fomulario-entrar,
.fomulario-cadastrar {
    background-color: #ffffff;
    box-shadow: 0 5px 17px #141e1136;
    padding: 35px 24px;
    border-radius: 15px;
    border: 1px solid #dae7de;
}

.fomulario-cadastrar {
    display: none;
}

/* INTRO FORM */

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro__icone {
    background-color: rgba(46, 184, 96, 0.1);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 25px;
    color: #2eb860;
}

.intro__titulo {
    color: #2b3b33;
    font-size: 25px;
    font-weight: bold;
    margin: 25px 0 8px;
}

.intro__texto {
    margin: 0;
    color: #677e73;
    font-size: 15px;
}

/* FORM */

label {
    color: #2b3b33;
    font-weight: 500;
}

form .input-group-text {
    border-radius: 15px 0 0 15px;
}

form .btn,
form .btn:focus,
form .btn:active,
.calculadora__button.btn,
.calculadora__button.btn:focus,
.calculadora__button.btn:active {
    background-color: #2eb860 !important;
    color: #ffffff !important;
    font-weight: 500;
    width: 100%;
    border-radius: 15px;
    padding: 8px 0;
}

.trocar-form {
    color: #2eb860;
    margin: 30px auto 0 auto;
    width: fit-content;
}

.trocar-form:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* INPUTS */

.container div input {
    background-color: #f5faf7;
    border-radius: 15px;
}

.container div input:focus {
    background-color: #f5faf7;
    box-shadow: 0 0 0 2px #2eb860;
    border-color: transparent;
}

/* CONTEUDO CALCULADORA */

.content-under {
    display: none;
}

/* LABELS DO JQUERY */

label.error {
    margin-top: 5px;
    color: #32493d;
}

/* MENSAGENS DO BACK-END */

.msg-erro, .msg-sucesso {
    display: none;
}

.mensagem-erro, .mensagem-sucesso {
    background-color: #ffffff;
    box-shadow: 0 2px 7px #141e1136;
    border: 1px solid #dae7de;
    padding: 16px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.mensagem-erro i, .mensagem-sucesso i {
    font-size: 17px;
    margin-right: 15px;
}

.mensagem-erro__texto, .mensagem-sucesso__texto {
    margin: 0;
    font-size: 15px;
}

body .container--erro, body .container--sucesso {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
