* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-bg {
    background-color: #f5faf7;
}

.container {
    padding: 32px 16px;
}

/* INICIO */

.inicio {
    text-align: center;
    margin-bottom: 25px;
}

.inicio__titulo {
    color: #2b3b33;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 11px 0;
    margin: 0;
}

.inicio__texto {
    margin: 0;
    color: #677e73;
    font-size: 15px;
    padding: 0 6px;
}

/* SEM EMISSÕES */

.sem-emissao {
    background-color: #ffffff;
    border: 1px solid #b7bcb9;
    border-radius: 17px;
    text-align: center;
    padding: 25px 20px;
}

.sem-emissao div {
    padding: 15px 20px;
    background-color: #dbe9df;
    border-radius: 50%;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 13px;
}

.sem-emissao__icone {
    color: #677e73;
    font-size: 22px;
}

.sem-emissao__titulo {
    color: #2b3b33;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 8px;
}

.sem-emissao__mensagem {
    margin-bottom: 0;
    color: #677e73;
}

/* EMISSÕES */

.emissoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.emissao {
    background-color: #ffffff;
    border: 1px solid #b7bcb9;
    border-radius: 17px;
    padding: 19px 17px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #2b3b33;
}

.veiculo {
    display: flex;
    gap: 10px;
    font-size: 17px;
}

.veiculo__icone {
    font-size: 19px;
    color: #62726b;
}

.emissao p {
    margin: 0;
}

.veiculo__tipo,
.distancia__valor {
    font-weight: 500;
}

.distancia__valor {
    font-size: 17px;
}

.data-emissao {
    color: #62726b;
}

.distancia p:first-child,
.carbono p:first-child {
    margin: 15px 0 3px;
    color: #62726b;
}

.carbono__label {
    text-align: end;
}

.carbono__valor {
    text-align: end;
    font-weight: bold;
    font-size: 19px;
}
