header {
    background-color: #ffffffad;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #cddad1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

header .container {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header .container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand__header i {
    font-size: 20px;
    color: #2eb860;
}

.brand__header p {
    font-size: 16px;
    font-weight: bold;
    color: #2b3b33;
    margin: 0;
}

.container div .menu-hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.menu-hamburguer:hover {
    background-color: rgba(44, 172, 91, 0.195);
    padding: 10px;
    border-radius: 50%;
}

.menu-hamburguer div {
    background-color: #2b3b33;
    width: 20px;
    height: 2.3px;
    margin: 2px 0;
    border-radius: 1px;
}

/* NAV */

.container .nav__container {
    display: none;
}

.nav__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 7px;
}

.nav__link {
    text-decoration: none;
    color: #555857;
    font-weight: 500;
    padding: 6px 16px;
}

.nav__link--active {
    color: #2eb860;
    font-weight: bold;
    background-color: rgba(46, 184, 96, 0.1);
    padding: 6px 16px;
    border-radius: 15px;
}