* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-bg {
    background-color: #f5faf7;
}

.container {
    padding: 32px 16px;
}

/* INICIO */

.inicio {
    text-align: center;
    margin-bottom: 46px;
}

.inicio__icone {
    background-color: rgba(46, 184, 96, 0.1);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 7px 18px 0 15px;
    border-radius: 50%;
}

.inicio__icone i {
    font-size: 30px;
    color: #2eb860;
}

.inicio__titulo {
    color: #2b3b33;
    font-size: 30px;
    font-weight: bold;
    padding: 16px 0;
    margin: 0;
}

.inicio__texto {
    margin: 0;
    color: #677e73;
    line-height: 1.6;
}

/* INFOS */

.row-infos {
    gap: 25px 0;
}

.infos-h2 {
    color: #2b3b33;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.info:hover {
    box-shadow: 0 5px 17px #141e1136;
}

.info {
    background-color: #ffffff;
    padding: 24px;
    border: 1px solid #dae7de;
    border-radius: 17px;
}

.info__icone {
    width: 50px;
    height: 50px;
    padding: 6px 18px 7px 14px;
    border-radius: 35%;
    font-size: 23px;
    margin-bottom: 16px;
}

.icone__first {
    background-color: #d0f1dc;
}

.first {
    color: #1f7a40;
}

.icone__second {
    background-color: #52b1e01a;
}

.second {
    color: #52b1e0;
}

.info__titulo {
    color: #2b3b33;
    font-size: 18px;
    margin-bottom: 8px;
}

.info__texto {
    color: #677e73;
    line-height: 1.25;
    font-size: 15px;
    margin: 0;
}

.dica {
    background-color: #2eb8600d;
    padding: 24px;
    border: 1px solid #2eb86033;
    border-radius: 17px;
    margin-top: 15px;
}

.dica p {
    margin: 0;
    text-align: center;
}
